In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("train.csv")

data.head()

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True

In [7]:
data.shape

(54706, 14)

In [6]:
data["BIRADS"].value_counts()

1.0    15772
0.0     8249
2.0     2265
Name: BIRADS, dtype: int64

In [8]:
data["density"].value_counts()

B    12651
C    12175
A     3105
D     1539
Name: density, dtype: int64